#iiif-player-demo {
  padding-top: 5px;
  .row {
    margin: 0;
  }
}

.explorer {
  height: 350px;
}

.structured-nav {
  padding-top: 5px;
  // width: 483px;
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  li {
    list-style-type: none;
    padding-left: 10px;
  }
  a {
    color: #2196f3;
  }
}

.structure-header {
  cursor: pointer;
  border: solid 1px #f2f2f2;
  padding: 10px;
  background-color: #80a590;
  color: #fff;

  .fa-icon {
    float: right;
    margin: 5px 5px 0 0;
  }
}

.structure-content {
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  border-radius: 0 0 5px 5px;
  padding-top: 15px;
  font-size: 14px;
  background-color: whitesmoke;
}

/* Loading spinner from https://github.com/avalonmediasystem/avalon/blob/develop/app/assets/stylesheets/avalon/_loading-spinner.scss*/
.loading-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 10;
  right: 0;
  margin: auto;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.loading-spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #80a590;
  border-color: #80a590 transparent #80a590 transparent;
  animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
